<?xml version="1.0" encoding="utf-8"?>
	<!--
		Copyright (C) 2009-2010 Roque Pinel
	-->
	<!--
		This file is part of SetFundao. This program is free software; you
		can redistribute it and/or modify it under the terms of the GNU
		General Public License as published by the Free Software Foundation;
		either version 3 of the License, or (at your option) any later
		version.
	-->
	<!--
		This program is distributed in the hope that it will be useful, but
		WITHOUT ANY WARRANTY; without even the implied warranty of
		MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
		General Public License for more details. You should have received a
		copy of the GNU General Public License along with this program; If
		not, see <http://www.gnu.org/licenses/>.
	-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="br.repinel"
	android:versionCode="9"
	android:versionName="3.0-beta1" >

	<!-- android:debuggable="true" -->
	<application
		android:icon="@drawable/app_icon"
		android:label="@string/app_name" >

		<activity
			android:name=".setfundao.ui.HomeActivity"
			android:theme="@style/Theme.SetFundao"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".setfundao.ui.tab.CameraTabActivity"
			android:theme="@style/Theme.SetFundao" />

		<activity
			android:name=".setfundao.ui.prefs.Preferences" />

		<!-- AdMob Ads -->
		<activity android:name="com.google.ads.AdActivity"
			android:configChanges="keyboard|keyboardHidden|orientation"/>
	</application>

	<uses-sdk android:minSdkVersion="7" />

	<uses-permission android:name="android.permission.INTERNET"/>

	<!-- Google Analytics -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<!-- Ads SDK permissions -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
</manifest> 